/* General Styles */
body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #111;
  color: #0f0;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-evenly;
  background-color: #111;
  font-weight: bold;
  font-size: 7px;
  min-height: 10vh;
}

/* Box container: Start */
.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  min-height: 50vh;
}

.text-box {
  position: relative;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 9px;
  background: #222;
  padding: 10px;
  width: 45%;
  display: flex;
}

.text-box textarea {
  flex: 1;
  width: 100%;
  height: 90%;
  margin-top: 15px;
  background: transparent;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
  padding: 10px;
  resize: none;
  outline: none;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.box-main-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #222;
  color: rgb(224, 231, 224);
  font-family: "Courier New", monospace;
  border: 1px solid rgb(34, 226, 34);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.box-main-btn:hover {
  background-color: #0f0;
  color: black;
}

#download-btn:disabled {
  background: #444;
  color: #777;
  cursor: not-allowed;
}

.box-buttons {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  color: rgb(175, 175, 175);
  font-size: 18px;
  cursor: pointer;
}

.box-buttons:hover {
  color: rgb(184, 183, 183);
  transition: all 0.1s ease-in-out;
}

#clear-input {
  right: 50px;
}

#past-input {
  right: 20px;
}

#copy-output {
  right: 20px;
  transition: all 0.3s ease-in-out;
}

#clear-output {
  right: 50px;
}
/* Box container: End*/

/* Terminal Container */
.terminal-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px auto;
  padding: 10px;
  width: 94%;
  height: 25vh;
  border-radius: 5px;
  overflow: auto;
  font-size: 14px;
  border: 2px solid #0f0;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.2);
  background-color: rgba(24, 24, 24, 0.8);
}

.terminal-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.terminal-container::-webkit-scrollbar-track {
  background: rgba(0, 255, 0, 0.1);
  border-radius: 5px;
}

.terminal-container::-webkit-scrollbar-thumb {
  background: rgba(217, 252, 217, 0.6);
  border-radius: 5px;
}

.terminal-container::-webkit-scrollbar-thumb:hover {
  background: rgba(217, 252, 217, 0.8);
}

.terminal-output {
  display: flex;
  flex-direction: column;
}

.terminal-output p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.terminal-prompt {
  color: #0f0;
  font-weight: bold;
  margin-right: 5px;
  flex-shrink: 0;
}

.terminal-stdout {
  color: rgb(229, 240, 229);
  white-space: pre-wrap;
}

.terminal-error {
  color: rgb(255, 1, 1);
}
/* Terminal container: End */

/* Footer section: Start*/
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 10px 0;
  color: white;
}

.footer-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  color: #15ff00;
  text-decoration: none;
  transition: color 0.2s;
  font-weight: bold;
}

.footer-links a:hover {
  color: #068317da;
}
.footer-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.footer-logo span {
  font-weight: bold;
}

/* Footer section: END*/

/* Responsive Design */
@media (max-width: 768px) {
  .box-container {
    flex-direction: column;
    align-items: center;
    height: 55vh;
  }

  .text-box {
    width: 90%;
    height: 22vh;
  }

  .text-box textarea {
    height: 80%;
  }

  .terminal-container {
    height: 15vh;
    font-size: 12px;
  }

  .footer-container {
    flex-direction: column;
    gap: 5px;
  }
}
